body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 68px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 68px;
  }

  .corner-row {
    position: absolute;
    top: -7px;
    left: 4px;
    align-self: auto;
    font-size: 12px;
  }

  .corner-col {
    position: absolute;
    top: 41px;
    left: 55px;
    align-self: auto;
    font-size: 12px;
  }
  
  .square:focus {
    outline: none;
  }

  .piece {
    height: 43px;
    cursor: grab;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
  }

  .game-board {
    display: flex;
    flex-direction: column-reverse;
  }
  
  .game-info {
    margin-left: 20px;
  }
  